body {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: #333333;
	font-family: 'PT Sans', arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	background-color: #f2f2f2;

}




ul{
	margin: 0;
	padding: 0;
}



h1 {
	color: #000000;
	font-family: 'PT Sans Bold', arial;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}



h3 {
	color: #000000;
	font-family: 'PT Sans Bold', arial;
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
}



.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 10px 4px #dedede;
}



.main-navigation ul,
section,
article,
footer{
  	display: flex;
}




.main-header {
	position: relative;
	display: flex;
	height: 56px;
	margin-bottom: 0;
	background-color: #ffffff;
}



.main-navigation ul{
    flex-direction: row;
    width: 1200px;
    height: 56px;
}



.main-header li {
  display: block;
  margin: 0;
  padding-top: 15px;
  list-style-type: none;
}



.main-header li:first-child {
    box-sizing: border-box;
	width: 20%;
	padding-left: 72px;
}



.main-header li:nth-child(2) {
	width: 20%;
	margin-right: 240px;
    text-align: center;
}



.main-header li:nth-child(3) {
	width: 20%;
    text-align: center;
}



.main-header li:last-child {
    box-sizing: border-box;
  	width: 20%;
	padding-right: 72px;
    text-align: right;
}



.main-header a {
	text-decoration: none;
	color: #000000;
	font-family: 'PT Sans Bold', arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;	
}



.main-navigation {
	width: 1200px;
	min-height: 56px;
	background-color: #ffffff;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a.active {
    color: #766357;
}


.main-navigation a:active {
    color: #b2b2b2;
}

.main-navigation a.active:hover {
	color: #604e43;
}
    
.main-navigation a.active:active {
	color: #d6d0cc;
}

.header-logo {
 	position: absolute;
	top:0 ;
	left: 50%;
	margin-left: -69px;
}



.intro {
  	display: block;
	width: 1200px;
	height: 508px;
	background: url('../img/index-logo.jpg') no-repeat top center;
}



.intro img:nth-child(1) {
  display: block;
  width: 458px;
  margin: 0 auto;
  padding-top: 76px;
}



.intro img:nth-child(2) {
	position: absolute;
	top: 507px;
}



.little-city {
  display: block;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 48px;
}



.little-city h1{
	margin:0;
	padding: 0 30%;
}



.little-city p {
	padding-top: 30px;
	margin:0;
}



.feature {
	text-align: center;
}



.feature-item {
	width: 400px;
	padding-top: 30px;
	margin-bottom: 8px;
	background-color: #eeeeee;
}



.text-only {
	margin-top: -10px;
	padding-bottom: 33px;
}



.with-image {
	color: #ffffff;
	background-color: #81b3d2;
}



.feature-image{
 	width: 800px;
}



.services {
	text-align: center;
}



.services-item {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 331px;
}



.services-item img {
	padding-top: 61px;
	margin-bottom: 15px;
	justify-content: center;
	align-self: center;
}



.services-item h2 {
	margin-bottom: 10px;
}



.services-item p {
	margin-bottom: 56px;
	padding: 0 10%;
	justify-content: center;
	align-self: center;;
}



.interest {
	display: flex;
	min-height: 291px;
	flex-wrap: wrap;
}



.interest h3 {
	margin-top: 59px;
	padding: 0 451px;
	text-align: center;
}



.interest p {
	margin-top: 0;
	margin-bottom: 56px;
	padding: 0 33.5%;
	text-align: center;
}



.interest a {
	margin: auto;
	padding: 35px 140px;
	text-decoration: none;
	color: #ffffff;
	background-color: #766357;
	font-family: 'PT Sans Bold', arial;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	justify-content: center;
	align-self: center;
}

input {
	padding: 0;
	margin: 0;
}

.map  label, .map input[type="text"] {
	color: #000000;
	font-family: 'PT Sans Bold', arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}



 .map input[type="text"] {
 	margin-right: -10px;
 }

.map {
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: 473px;
	background: url('../img/map.png') no-repeat top center;
}



.map form {
	display: none;
	flex-direction: column;
	min-height: 395px;
	margin: 0 auto;
	padding: 0 55px;
	background-color: #ffffff;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 5px 0 #999999;
	z-index: 1;

}


.map input[type="text"] {
	border: none;
	outline: none;
	background-color: #f2f2f2;
}

.map input[type="text"]:hover {
	background-color: #ebebeb;
}

.map input[type="text"]:focus {
	background-color: #ffffff;
	outline: 3px solid #e5e5e5;
}

.map input[type="text"]:nth-child(1) {
	width: 331px;
	min-height: 38px;
	margin-left:22px;
	padding-left: 15px;
}



.map input[type="text"]:nth-child(2) {
	width: 38px;
	height: 38px;
	margin-right:-4px;
	margin-left:-4px;
	text-align: center;
	padding-right: 5px;
}




.map input[type="submit"] {
	min-width: 460px;
	min-height: 58px;
	margin-bottom: 55px;
	color: #ffffff;
	border: none;
	background-color: #81b3d2;
	font-family: 'PT Sans Bold', arial;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	cursor: pointer;
}


.map input[type="submit"]:hover {
	background-color: #669ec0;
}


.map input[type="submit"]:active {
	background-color: #5496bd;
	color: #88b6d1;
}


.map input[type="button"], .map button {
	min-width: 38px;
	min-height: 38px;
	margin: 0 0;
	color: #a9a9a9;
	border: 0;
	background-color: #f2f2f2;
	cursor: pointer;
}


.map input[type="button"]:focus {
	outline: none;
}


.map input[type="button"]:nth-child(1) {
	margin-left: 40px;
}




.map input[type="button"]:nth-child(3) {

}



.num-enter {
	display: flex;
	width: 458px;
	justify-content: space-between;
}





.main-footer {
  padding: 30px 0;
  text-align: center;
  align-items: center;
}



.inst,
.footer-social,
.footer-copyright{
  width: 400px;
  position: relative;
}



.inst  a{
	text-decoration: none;
	color: #000000;
	font-family: 'PT Sans Bold', arial;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}



.social-btn {
	color: #ffffff;
	font-size: 19px;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;
	width: 46px;
	height: 33px;
	background-color: #81b3d2;
	padding-top: 13px;
}

.social-btn:hover {
	background-color: #669ec0;
}


.social-btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}




.footer-copyright a {
	margin-right: 9px;
	text-decoration: none;
	color: #000000;
	font-family: 'PT Sans Regular', arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	margin-left: -70px;
	background: url('../img/htmlacademy.png') no-repeat right 9px;
	padding: 20px 121px 15px 0;
}


.footer-copyright a:hover {
	background-position: 92px -39px ;
}

.footer-copyright a:active {
	background-position: 92px -86px ;
}


.footer-copyright img {
	position: absolute;
	left: 212px;
	top: -5px;

}


.icon-twitter,
.icon-facebook {
	margin-right: 6px;
	margin-top: -100px;
}

.icon-youtube {
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 3px;
}

.filter form {
	display: flex;
	width: 1200px;
	height: 218px;
	background: url('../img/filter-background.png') no-repeat top center;
}



.filter h2{
	color: #ffffff;
	font-family: 'PT Sans Bold', arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}



.filter label{
	color: #ffffff;
	font-family: 'PT Sans Regular', arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
}


.filter div {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.infr {
	width: 240px;
	padding-left: 72px ;
}

.house-type {
	width: 240px;
}

.cost {
	width: 240px;
	padding-left: 336px;
	padding-right: 72px;
	align-items: center;
}

.infr label,
.house-type label {
	padding-top: 15px;
}

.cost input[type="text"] {
	width: 160px;
	color: #ffffff;
	font-family: 'PT Sans Regular', arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	background-color: rgba(0, 0, 0, 0);

}



.cost input[type="submit"] {
	width: 135px;
	color: #ffffff;
	font-family: 'PT Sans Regular', arial;
	font-size: 21px;
	font-weight: normal;
	line-height: 26px;
	background-color: rgba(0, 0, 0, 0);
}



.sort {
	display: flex;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-right: 72px;
	padding-left: 72px;
	text-align: center;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}


.found {
	color: #000000;
	font-family: 'PT Sans Bold', arial;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	margin-right: 50px;
}



.sorting {
	color: #000000;
	font-family: 'PT Sans Regular', arial;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	display: flex;
	margin-right: 440px;
}



.sorting span {
	margin-right: 37px;
}


.sorting a {
	margin-right: 24px;
}

.stars {
	font-size: 23px;
	line-height: 20px;
}

.stars i {
	cursor: pointer;
}

.stars i:first-child {
	margin-right: -10px;
	color: #cccccc;
}

.stars i:first-child:hover {
	color: #000000;
}


.stars i:first-child:active {
	color: #81b3d2;
}

.stars i:last-child {
	color: #81b3d2;
}

.results {
	display: flex;
	flex-direction: column;
}

.result {
	display: flex;
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 31px;
	padding-bottom: 31px;
	border-bottom: 1px solid #e5e5e5;
}



.result-info {
	display: flex;
	width: 400px;
	margin-bottom: 0;
}

.hotel-name  h1{
	margin-top: -5px;
	margin-bottom: 5px;
}




.rating {
	width: 100px;
	align-content: flex-end;
}


.hotel-name  a {
	text-decoration: none;
	color: #000000;
	font-family: 'PT Sans Bold', arial;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.hotel-name  a:hover {
	color: #81b3d2;
}

.hotel-name  a:active {
	color: #b2b2b2;
}

.img-result {
	padding-right: 30px;
}



.result-info {
	display: flex;
	flex-direction: column;
}


.info {
	width: 183px;
	display: flex;
	justify-content: space-between;
}

.reservation {
	padding-top: 11px;
}

.reservation a:first-child,
.reservation a:last-child {
	color: #ffffff;
	text-decoration: none;
	font-family: 'PT Sans Bold', arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	padding: 5px 15px;
}


.reservation a:first-child {
	background-color: #81b3d2;
	margin-right: 3px;
}

.reservation a:first-child:hover {
	background-color: #669ec0;
}

.reservation a:first-child:active {
	background-color: #5496bd;
	color: #7aadcb;
}

.reservation a:last-child {
	background-color: #766357;
}

.reservation a:last-child:hover {
	background-color: #604e43;
}

.reservation a:last-child:active {
	background-color: #503e33;
	color: #857871;
}

.result-info {
	padding-right: 400px;
}


.rating {
	display: flex;
	flex-direction: column;
}


.rating div{
	background-color: #f2f2f2;
	padding: 3px 15px;
	margin-left: -30px;
	margin-top: 32px;


}

.rating span {
	color: #666666;
	font-family: 'PT Sans Regular', arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
}



.sort-type {
	color: #d0d0d0;
	text-decoration: none;
	border-bottom: 1px dashed #81b3d2;
}


.by-price {
	border-bottom: none;
	color: #81b3d2;
}


.by-type:hover,
.by-rating:hover {
	color: #81b3d2;
}


.by-type:active,
.by-rating:active {
	color: #000000;
	border-bottom: none;
}


.check-in {
	padding-top: 55px;
	margin-left: -5px;
	position: relative;
}

.check-out {
	margin-left: -5px;
	position: relative;
}

.num-enter input {
	margin: 0;
	padding: 0;
}

.icon-calendar {
	position: absolute;
	font-size: 21px;
	line-height: 26px;
	color: #c2c2c2;
	text-decoration: none;
}

.icon-calendar:hover {
	color: #000000;
}

.icon-calendar:active {
	color: #81b3d2;
}


.first {
	top: 60px;
	left: 425px;
}

.second {
	top: 5px;
	left: 429px;
}

.num-enter label:nth-child(1) {
	margin-left: 5px;
}

.adult {
	margin-left: -5px;
}

.—Åhildren {
	margin-right: -5px;
}


.icon-plus,
.icon-minus {
	color: #a9a9a9;
	font-size: 14px;
	line-height: 26px;
}

.icon-plus:hover,
.icon-minus:hover {
	color: #000000;
}


.icon-pluse:active,
.icon-minus:active {
	color: #81b3d2;
	border: none;
	outline: none;
}


button:active,
button:focus {
	border: none;
	outline: none;
}

button:nth-child(1) {
	margin-left: 45px;
}




.range-stars {
	display: flex;
	word-spacing: -6px;
	margin-top: -5px;
}

.range-stars i {
	font-size: 20px;
	line-height: 21px;
	color: #81b3d2;
}

.rating .first {
  padding-right: 5px;
}

.rating .second {
 	padding-left: 50px;
}

.rating .third {
 	padding-left: 21px;
}


.filter input[type="checkbox"] {
	display: none;
}

.filter input[type="checkbox"]+label {
	padding-bottom: 10px;
	cursor: pointer;
}


.filter input[type="checkbox"]+label:before {
	content: "\2610";
	font-size: 26px;
	line-height: 20px;
	font-family: 'symbols-sedona';
	padding-right: 17px;
	vertical-align: middle;
	color: #6a6a6a;
}


.filter input[type="checkbox"]:checked+label:before {
	content: "\2611";
	font-size: 26px;
	line-height: 20px;
	font-family: 'symbols-sedona';
	padding-right: 14px;
}


iframe {
	position: absolute;
}

@-webkit-keyframes "zoom-in" {
    from {
        -webkit-transform: translate(10px, 100px) rotate(0) scale(0);
        -ms-transform: translate(10px, 100px) rotate(0) scale(0);
        transform: translate(10px, 100px) rotate(0) scale(0);
    }

    to {
        -webkit-transform: translate(0, 0) rotate(360deg) scale(1);
        -ms-transform: translate(0, 0) rotate(360deg) scale(1);
        transform: translate(0, 0) rotate(360deg) scale(1);
    }
}

@keyframes "zoom-in" {
    from {
        -webkit-transform: translate(10px, 100px) rotate(0) scale(0);
        -ms-transform: translate(10px, 100px) rotate(0) scale(0);
        transform: translate(10px, 100px) rotate(0) scale(0);
    }

    to {
        -webkit-transform: translate(0, 0) rotate(360deg) scale(1);
        -ms-transform: translate(0, 0) rotate(360deg) scale(1);
        transform: translate(0, 0) rotate(360deg) scale(1);
    }
}

@-webkit-keyframes "zoom-out" {
    from {
        -webkit-transform: translate(0, 0) scale(1) rotate(0);
        -ms-transform: translate(0, 0) scale(1) rotate(0);
        transform: translate(0, 0) scale(1) rotate(0);
    }

    to {
        -webkit-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        -ms-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        transform: translate(10px, 100px) scale(0) rotate(-360deg);
    }
}

@keyframes "zoom-out" {
    from {
        -webkit-transform: translate(0, 0) scale(1) rotate(0);
        -ms-transform: translate(0, 0) scale(1) rotate(0);
        transform: translate(0, 0) scale(1) rotate(0);
    }

    to {
        -webkit-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        -ms-transform: translate(10px, 100px) scale(0) rotate(-360deg);
        transform: translate(10px, 100px) scale(0) rotate(-360deg);
    }
}

.search-form-visible {
    display: flex;
    align-items: center;
    -webkit-animation: zoom-in 0.9s ease-in-out;
    animation: zoom-in 0.9s ease-in-out
}

.search-form-invisible {
    display: none;
    -webkit-animation: zoom-out 0.9s ease-in-out forwards;
    animation: zoom-out 0.9s ease-in-out forwards
}
